#flappyBird{
    width: 50px;
    height: auto;
    position:absolute;
}

#bottomPipe{
    /* top:; */
    position:absolute;
    width: 100px;
    height: auto;
    display:none;
    /* transform: scaleY(-1); */
}


#body{
    overflow:hidden;
    background-image: url("Background1.png");
    background-size: 100vh 100vh;
    background-repeat: repeat-x;
}

#score{
    text-align: center;
    font-size: xx-large;
}