#flappyBird{
    width: 50px;
    height: auto;
    position:absolute;
}

#bottomPipe{
    /* top:; */
    position:absolute;
    width: 100px;
    height: auto;
    display:none;
    /* transform: scaleY(-1); */
}



#body{
    overflow:hidden;
}